<!DOCTYPE html>
<html>

<head>
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/css/webmail.css" />
    <link rel="shortcut icon" href="../graphics/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/logout.js"></script>
    <script src="/scripts/webmail.js"></script>

    <% if(typeof(messageList) != 'undefined') {%>
        <script>
            var messageList = <%- JSON.stringify(messageList) %>
        </script>
    <% } %>

    <% if(typeof(userNum) != 'undefined') {%>
        <script>
            var userNum = <%- JSON.stringify(userNum) %>
        </script>
    <% } %>

</head>

<body>

    <div class="admin-col-left">
        <ul class="breadcrumb">
            <li>
                <a href="/main">Main</a> <span class="divider">/</span>
            </li>
            <li>
                <a href="/main/users/search">Search Users</a> <span class="divider">/</span>
            </li>
            <li>
                <span>Webmail</span>
            </li>
            <breadcrumb></breadcrumb>
        </ul>
    </div>

    <div class="contentWrapper">
        <div class="content">
            <div class="webmailLayout">
                <div class="inlineLayout sidebar">
                    <ul>
                        <li id="inbox">Inbox</li>
                        <li id="sent">Sent</li>
                    </ul>
                </div>
                <div class="inlineLayout messageList">
                    <div id="messageList">
                        <div class="list"></div>
                    </div>
                </div>
                <div class="inlineLayout messageView">
                    <p class="to" style="display: hidden"></p>
                    <p class="from" style="display: hidden"></p>
                    <p class="date" style="display: hidden"></p>
                    <p id="message">Nothing to view here yet.</p>
                    <div class="reply" style="display: hidden"></div>
                    <input type="button" name="sendBtn" id="sendBtn" value="send" style="display: none"/>
                </div>
            </div>
        </div>
    </div>

    <a id="logoutLink" href="logout">Logout</a>

</body>

</html>