body {
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px;
    background: url(../graphics/Background.jpg) repeat-x #b8b6b7;
    font-family: Arial, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: rgb(0, 118, 190);
    font-weight: normal;
}

a:hover {
    color: red;
}

.content{
    height: 300px;
    margin: 15px;
    display: table;
    cursor: pointer;
}

#logoutLink{
    float: left;
}

#word{
    font-size: 75px;
    display: table-cell;
    vertical-align: middle;
}

#flipText{
    padding: 0;
}

#prev{
    float: left;
}

#next{
    float: right;
}

#prev, #next{
    background: linear-gradient(to bottom,rgba(28,169,28,1) 0,rgba(5,95,5,1) 100%);
    color: #fff;
    padding: 5px 10px;
    width: 70px;
    margin-top: 20px;
    text-indent: 0px;
}
